footer.footer
    .footer__container 
        .footer__line
        .footer__first
            p МАУДО
            p Станция юных техников
            p.copyright &#169; 2023 Станция юных техников
            p.autor Разработка: педагог дополнительного образования Трущелёв А.Н. (верстка сайтов, программирование Scratch, программирование Python)
        .footer__second
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, aperiam?
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, a.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, incidunt!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, laudantium.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, doloremque!

        .footer__third
            p Наш адрес: Калининград, Московский пр-т, 98
            p Телефон: <a href="tel:+74012973396">+7(401)297-33-96</a>
            p E-mail: <a href="mailto:gsyut@edu.klgd.ru">gsyut@edu.klgd.ru</a>
            p Сайт: <a href="http://sut39.ru/">http://sut39.ru/</a>
            p VK: <a href="https://vk.com/sut39" alt="ВКонтакте">https://vk.com/sut39</a>
            