footer.footer
    .footer__container 
        p.copyright &#169; 2023 Станция юных техников
        p.autor Разработка: педагог дополнительного образования Трущелёв А.Н. (верстка сайтов, программирование Scratch, программирование Python)