header.header-main
    .header__container
        include menu
        .header__body 
            .header__pre-title Муниципальное автономное учреждение дополнительного образования города Калининграда
            h1.header__title Станция юных техников
            .header__text 236006, Калининград, Московский проспект, 98 | тел. +7 (4012) 97 33 96 | email: gsyut@edu.klgd.ru
        include marquee 

