header.header-main
    include video_background
    .header-main__container
        include menu
        .header-main__body 
            .header-main__pre-title Муниципальное автономное учреждение дополнительного образования города Калининграда
            h1.header-main__title Станция юных техников
            .header-main__text 236006, Калининград, Московский проспект, 98 | тел. +7 (4012) 97 33 96 | email: gsyut@edu.klgd.ru
        include marquee

