.main_page 
    .main_container 
        .block.block__founder
            h3.block_title.block__founder_title Учредитель МАУДО Станция юных техников
            .block_text.block__founder_text 
                p Учредитель: Администрация городского округа «Город Калининград»
                p Функции и полномочия Учредителя осуществляет комитет по образованию администрации городского округа «Город Калининград»
                p Адрес: 236000, г. Калининград, ул. Чайковского, 50/52
                p Контактные телефоны: +7(401)292-40-09; тел./факс: +7(401)292-40-62
                p E-mail: cityedu@klgd.ru
        .block.block__info
            h3.block_title.block__info_titlxe Основная информация о МАУДО Станция юных техников
            .block_text.block__info_tet 
                p Сокращенное название учреждения - МАУДО СЮТ
                p Дата создания учреждения - 01.09.1976
                p Лицензия на осуществление образовательной деятельности - № ДО-1762 от 28.06.2021
                p Срок действия лицензии - бессрочно
                p Директор - Стецюк Ольга Евгеньевна
                p Официальный сайт - <a href="http://sut39.ru/">http://sut39.ru/</a>
                p E-mail - <a href="mailto:gsyut@edu.klgd.ru">gsyut@edu.klgd.ru</a> 
        .block.block__contact 
            h3.block_title.block__contact_title Контактные телефоны
            .block_text.block__contact_text 
                p Директор - +7(401)297-33-96 доб.103
                p Приёмная - +7(401)297-33-96
                p Заместитель директора - +7(401)297-33-95 доб.104
                p Заведующий хозяйством - +7(401)297-33-95 доб.100
                p Бухгалтерия - +7(401)297-33-96 доб.105
        .block.block__adress 
            h3.block_title.block__adress_title Местонахождение учреждения (адрес)
            .block_text.block__adress_text
                p 236006, г. Калининград, Московский проспект, 98
        .block.block__map
            h3.block_title.block__map_title На карте
            .block_text.block__map_text
                <div style="width:100%;position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/stantsiya_yunykh_tekhnikov/71688669983/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Станция юных техников</a><a href="https://yandex.ru/maps/22/kaliningrad/category/further_education/184106162/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Дополнительное образование в Калининграде</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUvYCADDA" frameborder="1" allowfullscreen="true" style="position:relative;object-fit:cover;"></iframe></div>