.marquee-container
    p.marquee.
        Программирование Scratch | Судомоделирование | Анимация и видеопроизводство | Робототехника | Детско-юношеская автошкола | 3D-моделирование | Радиотехническое конструирование | Программирование Python | Танцевальная студия |  Изобразительное искусство | Авиамоделирование | Верстка веб-сайтов | LEGO-роботы | Английский язык | Начальное техническое моделирование | 3D-ручка | Вокальная студия | 
        