doctype
html(lang='ru')
    include html/head
    body 
        .video-background__container
            .video-background__dark-opacity
            video.video-background__item(preload="auto" loop muted autoplay)
                source(src="video/technomix.webm" type="video/webm")
                source(src="video/technomix.mp4" type="video/mp4")
        include html/header_main
        main.page
        include html/footer
        script(src="js/app.min.js")