doctype
html(lang='ru')
    include html/head
    body   
        include html/header_main
        main
            .container
                include html/aside.html
                include html/main_page
        include html/footer
        script(src="js/app.min.js")