@import 'part/default.scss';


.video-background__container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.video-background__dark-opacity {
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: .5;
    z-index: 1;
}
.video-background__item{
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}